# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Flask-specific
.flaskenv

# Editor/IDE specific
.vscode/
.idea/

# Operating System specific
.DS_Store
Thumbs.db